$blue-lightest: #f2f6fb;
$blue-light: #a3c9ff;
$blue-base: #2f58d5;
$blue-dark: #102e88;
$blue-darkest: #0f1628;

$red-lightest: #faf2f2;
$red-light: #f5d9d9;
$red-base: #cd1e20;
$red-dark: #9a0b0d;
$red-darkest: #5f1010;

$gray-1: #f5f8fa;
$gray-2: #ebeeef;
$gray-3: #dee1e3;
$gray-4: #bec5cb;
$gray-5: #929aa0;
$gray-6: #676e74;
$gray-7: #585f65;
$gray-8: #374148;
$gray-9: #202b33;
$gray-10: #182026;

$white: #fff;
$black: #10161a;

$color-main: $blue-base;
$color-accent: #4a3d39;

$color-text-heading: #3b3230;
$color-text-body: #6d5d5d;
$color-text-medium: #8d7f7b;
$color-text-light: $gray-4;
$color-link: $blue-base;
$color-text-main: $color-main;
$color-text-accent: $color-accent;

$color-bg-lightest-blue: $blue-lightest;
$color-bg-lightest: $gray-1;
$color-bg-light: $gray-2;
$color-bg-medium: $gray-3;
$color-bg-dark: #252120;

$color-success: #50b83c;
$color-error: $red-dark;
$color-warning: #eec200;
