$font-serif: 'garamond-premier-pro', serif;
$font-sans: 'gill-sans-nova', -apple-system, BlinkMacSystemFont, San Francisco,
  Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;

$font-display: $font-serif;
$font-primary: $font-sans;

$font-size-15: 4.75rem; // 68px
$font-size-14: 3.375rem; // 60px
$font-size-13: 3rem;
$font-size-12: 2.625rem;
$font-size-11: 2.25rem;
$font-size-10: 2rem;
$font-size-9: 1.75rem;
$font-size-8: 1.5rem;
$font-size-7: 1.25rem;
$font-size-6: 1.125rem;
$font-size-5: 1rem;
$font-size-4: 0.875rem;
$font-size-3: 0.75rem;
$font-size-2: 0.6875rem;
$font-size-1: 0.5rem;

$font-hero: $font-size-15;

$font-section-title: $font-size-14;
$font-section-blurb: $font-size-7;

$font-blurb-large: $font-size-6;
$font-blurb-normal: $font-size-5;
$font-blurb-small: $font-size-4;

$font-bold: 700;
$font-semi: 500;
$font-normal: 400;
$font-thin: 300;

$line-height-body: 1.5;
$line-height-heading: 1.25;
$line-height-small: 1;
