$font-serif: 'garamond-premier-pro', serif;
$font-sans: 'gill-sans-nova', -apple-system, BlinkMacSystemFont, San Francisco,
  Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;

$font-display: $font-serif;
$font-primary: $font-sans;

$text-base: 1rem;

$text-size-12: 4.75rem;
$text-size-11: 3.375rem;
$text-size-10: 2.25rem;
$text-size-9: 1.75rem;
$text-size-8: 1.25rem;
$text-size-7: 1.125rem;
$text-size-6: 1rem;
$text-size-5: 0.875rem;
$text-size-4: 0.75rem;
$text-size-3: 0.75rem;
$text-size-2: 0.6875rem;
$text-size-1: 1rem;

$font-bold: 700;
$font-normal: 400;
$font-thin: 300;

$line-height-body: 1.5;
$line-height-display: 1.2;
$line-height-small: 1;
