@import 'styles/_main.scss';

.section {
  padding: $spacing-12 0;
  background-color: $color-bg-lightest;
}

.profile_wrapper {
  display: flex;
  align-items: flex-start;
}

.avatar {
  --avatar-size: 96px;

  max-width: var(--avatar-size);
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.profile_content {
  margin-left: $spacing-7;
}

.name {
  font-family: $font-serif;
  font-size: $font-size-6;
  margin-bottom: 0.25em;
}

.title {
  background: linear-gradient(
    to bottom right,
    lighten($red-base, 10%) 20%,
    darken($red-base, 10%)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro_blurb {
  font-size: $font-size-7;
  font-family: $font-serif;
  max-width: 32em;
  margin-top: 2em;
  letter-spacing: -0.01em;
}
