@import 'styles/main.scss';

.section {
  padding: $spacing-12 0;
  background-color: $color-bg-lightest;
}

.wrapper {
  position: relative;
  max-width: 900px;
  padding: 0 $gutter;
  margin: 0 auto;
  z-index: 1;
}

.profile_wrapper {
  display: flex;
  align-items: flex-start;
}

.avatar {
  --avatar-size: 96px;

  max-width: var(--avatar-size);
  overflow: hidden;
  border-radius: 50%;
}

.profile_content {
  margin-left: $spacing-7;
}

.name {
  font-family: $font-serif;
  font-size: $font-size-6;
  margin-bottom: 0.25em;
}

// .title {
//   color: $color-text-accent;
// }

.intro_blurb {
  font-size: $font-size-8;
  font-family: $font-serif;
  max-width: 32em;
  margin-top: 2em;
  letter-spacing: -0.01em;
}
