@import 'styles/_main.scss';

.section {
  display: block;
  margin: 0;
  background-color: $gray-9;
}

.section_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $spacing-8;
  padding: $spacing-10 0;
}

.section_title {
  color: $color-text-light;
}

.section_blurp {
  font-size: $font-size-6;
  max-width: 28em;
  color: $color-text-light;
}

.form {
  align-self: center;
}
