@import 'styles/_main.scss';

%display {
  line-height: $line-height-heading;
  font-family: $font-display;
  letter-spacing: -0.01em;
}

.hero {
  @extend %display;
  --font-hero: #{$font-hero};
  font-style: italic;
  font-weight: $font-black;

  font-size: var(--font-hero);
}

.section_title {
  @extend %display;
  --font-section-title: #{$font-section-title};
  color: $color-text-heading;

  font-size: var(--font-section-title);
  margin-bottom: 0.25em;
}

.section_super_title {
  font-weight: 500;
  color: $red-base;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  --font-size: #{$font-size-4};

  font-size: var(--font-size);
  margin-bottom: 0.75em;
}
